/* Patch default to reduce vertical blank space */
.jp-Notebook[data-jp-enh-cell-toolbar='true'] .jp-Cell {
  padding: 21px var(--jp-cell-padding) 2px var(--jp-cell-padding);
}

.lm-Widget.jp-enh-cell-button {
  background: none;
  border: none;
  display: none;
  margin: 0;
  padding: 0;
  width: 16px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.jp-enh-cell-button .jp-icon3[fill] {
  fill: var(--jp-inverse-layout-color4);
}

.jp-enh-cell-button:hover .jp-icon3[fill] {
  fill: var(--jp-inverse-layout-color2);
}

.jp-mod-active .jp-enh-cell-button {
  display: block;
}

.jp-enh-cell-run-cell-and-select-next {
  left: 46px;
  top: 21px;
}

.jp-CodeCell .jp-enh-cell-run-cell-and-select-next {
  top: 46px;
}

.jp-enh-cell-move-cell-up {
  top: 20px;
  left: -10px;
}

.jp-enh-cell-move-cell-down {
  top: 36px;
  left: -10px;
}

.jp-enh-cell-insert-cell-below {
  bottom: -19px;
  left: calc(
    var(--jp-cell-padding) + var(--jp-cell-collapser-width) +
      var(--jp-cell-prompt-width) - 16px
  );
}

.jp-enh-cell-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: calc(
    var(--jp-cell-padding) + var(--jp-cell-collapser-width) +
      var(--jp-cell-prompt-width)
  );
  padding: 2px 0px;
  min-height: 22px;
  height: 22px;
  z-index: 6;

  color: var(--jp-ui-font-color1);
  font-size: 12px; /*calc(var(--jp-ui-font-size1) / var(--jp-ui-font-scale-factor));*/
}

.jp-enh-cell-toolbar.jp-overlap {
  background-color: var(--jp-layout-color2);
  /* Use shadow instead of border so empty toolbar does not collapse as thin vertical line */
  box-shadow: var(--jp-elevation-z1);
  border-radius: var(--jp-border-radius);
}

.jp-enh-cell-toolbar .jp-Toolbar-spacer {
  display: flex;
  flex: 1 1 auto;
}

.jp-enh-cell-toolbar .jp-ToolbarButton,
.jp-enh-cell-toolbar .jp-CommandToolbarButton {
  display: none;
}

.jp-mod-active .jp-enh-cell-toolbar .jp-ToolbarButton,
.jp-mod-active .jp-enh-cell-toolbar .jp-CommandToolbarButton {
  display: block;
}

.jp-enh-cell-toolbar button.jp-ToolbarButtonComponent {
  height: 16px;
}

.jp-enh-cell-toolbar .jp-enh-attribute-editor {
  margin: 0 2px;
  white-space: nowrap;
}

.jp-enh-cell-toolbar .jp-enh-attribute-editor select,
.jp-enh-cell-toolbar .jp-enh-attribute-editor input {
  border: solid 1px var(--jp-border-color0);
  padding: 0;
  background-color: transparent;

  font-size: 12px;
  font-family: var(--jp-ui-font-family);
  color: var(--jp-ui-font-color1);
}

.jp-enh-cell-toolbar .jp-enh-attribute-editor input::placeholder {
  color: var(--jp-ui-font-color3);
  opacity: 1;
}

.jp-enh-cell-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.jp-enh-cell-tags .tag {
  font-size: 12px;
  height: 18px;
  margin: 0px 2px;
  padding: 0px 2px;
  border-radius: 4px;
  /* Needed to ensure correct display */
  max-width: unset;
}

.jp-enh-cell-mod-click {
  cursor: pointer;
}

.jp-enh-cell-tags .tag input.add-tag {
  font-size: 12px;
  font-family: var(--jp-ui-font-family);
}

.jp-mod-active .jp-enh-cell-tags .tag.unapplied-tag {
  display: flex;
}

.jp-enh-cell-tags .tag.unapplied-tag {
  display: none;
}

.jp-enh-cell-tags .unapplied-tag,
.jp-enh-cell-tags .add-tag {
  /* Needed to ensure correct display on selected cells */
  background-color: unset;
}

.jp-cell-enh-attachment-editor caption {
  text-align: left;
}

.jp-cell-enh-attachment-editor tr > td:nth-child(2) {
  color: var(--jp-ui-font-color2);
}

.jp-cell-enh-attachment-editor button {
  border: none;
  height: auto;
  padding: 1px 4px;
  line-height: inherit;
}

.jp-Dialog-body.jp-cell-enh-attachment-editor caption {
  display: none;
}

.jp-cell-enh-metadata-editor {
  width: 400px;
}

.jp-cell-enh-metadata-editor .jp-JSONEditor-header {
  height: 22px;
}
